@font-face {
  font-family: Samim;
  src: url('/assets/fonts/samim.eot');
  src: url('/assets/fonts/samim.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/samim.woff') format('woff'),
       url('/assets/fonts/samim.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/micons.eot'); /* For IE6-8 */
  src:
       url('/assets/fonts/micons.woff2') format('woff2'),
       url('/assets/fonts/micons.woff') format('woff'),
       url('/assets/fonts/micons.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

*,input {
  font-family: 'Samim', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  direction: rtl;
}

.toolbar-search-input {
  margin-top: 24px;
  margin-bottom: 0;
}

.ltr {
  direction: ltr !important;
}

.md-flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
