<md-content layout-padding>
  <div layout="column">
    <h1 flex>مدیریت محتوا</h1>
    <form name="form" flex>
      <input type="hidden" ng-model="$ctrl.payload.id" ng-if="$ctrl.payloadId">
      <div layout="row">
        <md-input-container flex>
          <label>عنوان</label>
          <input ng-model="$ctrl.payload.title" required>
        </md-input-container>
      </div>
      <div layout="row" flex>
        <md-input-container flex>
          <label>شناسه</label>
          <input type="text" class="ltr" ng-model="$ctrl.payload.iri" required>
        </md-input-container>
        <md-input-container flex>
          <label>نوع سند</label>
          <md-select ng-model="$ctrl.payload.type" required>
            <md-option ng-value="type.value" ng-repeat="type in $ctrl.types">{{ type.title }}</md-option>
          </md-select>
        </md-input-container>
      </div>
      <md-input-container flex layout="column">
        <label>محتوای متنی</label>
        <br />
        <ng-wig ng-model="$ctrl.payload.content" class="md-block" flex>
        </ng-wig>
      </md-input-container>
    </form>
    <div flex layout="row" layout-align="end center">
      <md-button class="md-raised" ng-click="$ctrl.cancel()">
        بازگشت
      </md-button>
      <md-button class="md-primary md-raised" ng-click="$ctrl.submit()">
        ارسال
      </md-button>
    </div>
  </div>
</md-content>
